.field-validation-error {color: #ff6a00;}
.filed-validation-valid {display: none;}
.input-validation-error {border: 1px solid #0094ff; background-color:#0094ff;}
.validation-smmary-errors {font-weight: bold; color:#4cff00}
.validation-summary-valid {display: none;}