@model IEnumerable<BookStudy.Models.GuestResponse>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>List of guests:</title>
</head>
<body>
<h3>People:</h3>
<table>
    <tr>
        <td>Name:</td>
        <td>Email:</td>
        <td>Phone:</td>
        <td></td>
    </tr>
    
    @foreach (var guest in Model)
    {
        <tr>
            <td>@guest.name</td>
            <td>@guest.email</td>
            <td>@guest.phone</td>
        </tr>
    }
</table>

</body>
</html>