@model IEnumerable<BookStudy.Models.GuestResponse>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Гости</title>
</head>
<body>
<div class="panel-body">
    <h2>It's you guest list</h2>
    <table class="table table-sm table-striped table-bordered" >
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        </thead>
        <tbody>
        @foreach(BookStudy.Models.GuestResponse r in Model)
        {
            <tr>
                <td>@r.name</td>
                <td>@r.email</td>
                <td>@r.phone</td>
            </tr>
        }
        </tbody>
    </table>
    <a class="btn btn-primary" asp-action="RspvForm">Go to party!</a>
</div>
</body>
</html>