@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device=width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Main page</title>
</head>
<body>
    <div>
        <h1>Click any button!</h1>
        <a class="btn btn-primary" asp-action="ListResponses">ListResopnses</a>
    </div>
</body>
</html>
